*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(246, 246, 246);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    min-width: 375px;

    overflow: hidden;
}

.container-full{
    display: flex;
    flex-direction: column;

    height: 100vh;
    margin: 0 auto;
}



.subtitle{
    margin: 20px;
    padding-top: 120px;
    font-size: 30px;
    color: white;
    width: 375px;
    text-align: center;
    margin: 10px auto;

    transform: translateY(20%);
}




.swiper-slide{
    background-color: rgba(30, 30, 34, 0.386);
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5vw;
    top: 5vh;
}

.slide{
    max-width: 450px;
    width: 100%;
    height: 120%;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

}

.swiper-pagination{
    padding-top: 7vh;
    position: relative !important;
}



.tip{
    color: rgb(245, 245, 245);
    text-align: center;
    margin-top: 5vh;
    font-size: 12px;
}



.center-btn{
    margin: 30px auto;
    width: 160px;

    position: absolute;
    bottom: 12vh;
    width:240px;
    align-self: center;
}

.barsy{
    width: 500px;
    align-self: center;
    margin-bottom: 50px;
}


.top-icon{
    padding-top: 7vh;
    position: absolute;
}

.back{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 3vw;
    top: 12vh;
    width:40px;
}